<?xml version="1.0"?>

<!--
 * @author      Andreas Knollmann
 * @copyright   2014-2024 Softwareentwicklung Andreas Knollmann
 * @license     http://www.opensource.org/licenses/mit-license.php MIT
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="task_product_feed_delta" xsi:type="object">Infrangible\CatalogProductFeed\Console\Command\Delta</item>
                <item name="task_product_feed_full" xsi:type="object">Infrangible\CatalogProductFeed\Console\Command\Full</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Product">
        <plugin name="infrangible_catalogproductfeed" type="Infrangible\CatalogProductFeed\Plugin\Catalog\Model\Product" sortOrder="10" disabled="false"/>
    </type>
</config>
